.profile__add-btn {
  padding: 0;
  background-color: #000;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  transition: linear 0.3s;
}

@media screen and (max-width: 584px) {
  .profile__add-btn {
    min-width: 282px;
  }
}