.profile__name {
  margin: 0;
  padding-bottom: 16px;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 250px;
  max-width: calc(100vw - 380px);
}

@media screen and (max-width: 740px) {
  .profile__name {
    font-size: 5vw;
    line-height: 33px;
    min-width: 200px;
  }
}

@media screen and (max-width: 620px) {
  .profile__name {
    font-size: 4.55vw;
  }
}

@media screen and (max-width: 597px) {
  .profile__name {
    font-size: 27px;
    padding-bottom: 14px;
    max-width: 300px;
    text-align: center;
  }
}
