.gallery__like-btn {
  padding: 0;
  background-color: #fff;
  background-image: url(../../../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  min-height: 19px;
  border: none;
  box-sizing: border-box;
  transition: linear 0.3s;
}

.gallery__like-btn:hover {
  opacity: .5;
  transition: linear 0.3s;
  cursor: pointer;
}