@import url(../src/vendor/normalize.css);
@import url(../src/blocks/popup/popup.css);
@import url(../src/fonts/inter.css);
@import url(../src/blocks/page/page.css);
@import url(../src/blocks/header/header.css);
@import url(../src/blocks/header/__logo/header__logo.css);
@import url(../src/blocks/header//__user-btn/header__user-btn.css);
@import url(../src/blocks/header/__user-email/header__user-email.css);
@import url(../src/blocks/header/__user-block/header__user-block.css);
@import url(../src/blocks/profile/profile.css);
@import url(../src/blocks/profile/__container/profile__container.css);
@import url(../src/blocks/profile/__info/profile__info.css);
@import url(../src/blocks/profile/__avatar/profile__avatar.css);
@import url(../src/blocks/profile/__name/profile__name.css);
@import url(../src/blocks/profile/__job/profile__job.css);
@import url(../src/blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../src/blocks/profile/__add-btn/profile_add-btn.css);
@import url(../src/blocks/gallery/__cards/gallery__cards.css);
@import url(../src/blocks/gallery/__item/gallery__item.css);
@import url(../src/blocks/gallery/__title/gallery__title.css);
@import url(../src/blocks/gallery/__text/gallery__text.css);
@import url(../src/blocks/gallery/__like-btn/gallery__like-btn.css);
@import url(../src/blocks/gallery/__like-btn/_active/gallery__like-btn_active.css);
@import url(../src/blocks/footer/__copyright/footer__copyright.css);
@import url(../src/blocks/btn-opacity/btn-opacity.css);
@import url(../src/blocks/popup/__container/popup__container.css);
@import url(../src/blocks/popup/__btn-close/popup__btn-close.css);
@import url(../src/blocks/popup/__title/popup__title.css);
@import url(../src/blocks/popup/__form/popup__form.css);
@import url(../src/blocks/popup/__field/popup__field.css);
@import url(../src/blocks/popup/__btn-save/popup__btn-save.css);
@import url(../src/blocks/popup/__btn-hide/popup__btn-hide.css);
@import url(../src/blocks/popup/_opened/popup_opened.css);
@import url(../src/blocks/gallery/__img/gallery__img.css);
@import url(../src/blocks/gallery/__delete-btn/gallery__delete-btn.css);
@import url(../src/blocks/gallery/__delete-btn//_hidden/gallery__delete-btn_hidden.css);
@import url(../src/blocks/popup/__figure/popup__figure.css);
@import url(../src/blocks/popup/__full-photo/popup__full-photo.css);
@import url(../src/blocks/popup/_fullsize/popup_fullsize.css);
@import url(../src/blocks/popup/__form/_submit/_inactive/popup__form_submit_inactive.css);
@import url(../src/blocks/input-error/input-error.css);
@import url(../src/blocks/input-error/_active/input-error_active.css);
@import url(../src/blocks/input-error/_auth/input-error_auth.css);
@import url(../src/blocks/input_type_error/input_type_error.css);
@import url(../src/blocks/profile/__avatar/_opacity/profile__avatar_opacity.css);
@import url(../src/blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(../src/blocks/gallery/__like/gallery_like.css);
@import url(../src/blocks/gallery/__like/__like-qty/gallery__like-qty.css);
@import url(../src/blocks/body/body.css);
@import url(../src/blocks/infoToolTip/_title/infoToolTip_title.css);
@import url(../src/blocks/infoToolTip/_pic/_pic_ok/infoToolTip__pic_ok.css);
@import url(../src/blocks/infoToolTip/_pic/_pic_error/infoToolTip__pic_error.css);
@import url(../src/blocks/infoToolTip/_pic/infoToolTip__pic.css);
@import url(../src/blocks/auth/auth.css);
@import url(../src/blocks/auth/__container/auth__container.css);
@import url(../src/blocks/auth/__field/auth__field.css);
@import url(../src/blocks/auth/__title/auth__title.css);
@import url(../src/blocks/auth/__btn-save/auth__btn-save.css);
@import url(../src/blocks/auth/__login-link/auth__login-link.css);
@import url(../src/blocks/auth/__login-text/auth__login-text.css);

#root {
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  max-width: 880px;
}
